/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require reset
 *= require_self
 */

header {
  background-color: #d32323;
  font-family: 'Roboto', sans-serif, bold;
  color: white;
}

.main-header-wrapper {
  background-color: #d32323;
  height: 64px;
}

.main-header-nav-wrapper {
  background-color: #BD1F1F;
  height: 27px;
}

.main-header-bar {
  display: flex;
  justify-content: flex-end;
  width: 966px;
  height: 40px;
}


.header-signup-button {
  display: flex;
  background-color: #BD1F1F;
  border-color: #8d0005;
  border-radius: 4px;
  width: 104px;
  height: 36px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 15px;
  font-weight: bolder;
  padding: 6px 12px;
}

.header-signup-button:hover {
  background-color: #aa1b1b;
}

body {
  font-family: 'Roboto', sans-serif;
}
