.biz-top-shelf {
  overflow: hidden;
  min-width: 990px;
  padding-bottom: 24px;
  margin-bottom: -18px;
  position: relative;
  padding-top: 15px;
}

.biz-content-container {
  width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.biz-header {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 16px;
  margin-bottom: 13px;
}

.biz-header-left {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-right: 30px;
}

.biz-header-right {
  display: table;
  position: relative;
}

.write-review {
  color: white;
  background-color: #d90007;
  border-radius: 3px;
  border: 1px solid #8d0005;
  width: 160px;
  height: 36px;
  font-size: 14px;
  font-weight: bolder;
  padding: 8px 19px 9px;
  margin-right: 12px;
}

.write-review:hover {
  text-decoration: none;
  background-color: #ed0008;
}

.biz-show-name {
  /*display: inline;*/
  padding-top: 0;
}

.biz-show-stars-reviews {
  margin: 9px 0;
  float: left;
}

.biz-show-stars {
  float: left;
}

.biz-show-price-category {
  float: left;
  clear: both;
}

.biz-sub-header {
  display: table;
}

.map-box-container {
  width: 300px;
  display: table-cell;
  vertical-align: middle;
}

.map-box {
  padding: 5px;
  background: #fff;
  border: 1px solid #ccc;
}

.map {
  overflow: hidden;
  height: 135px;
  border: 1px solid #ccc;
}

.map-text {
  min-height: 105px;
  font-size: 14px;
}

.map-text ul {
  padding-left: 5px;
}

.map-text li {
  margin-bottom: 3px;
}

.map-address-box-li {
  margin-bottom: 3px;
  position: relative;
}

.map-address-box {
  line-height: 18px;
  margin-left: 24px;
}

.icon img {
  width: 18px;
  height: 18px;
}

.map-address-box address {
  font-weight: bold;
  margin-top: -1px;
}

.phone, .biz-url {
  margin-left: 24px;
}
