.biz-top-shelf {
  overflow: hidden;
  min-width: 990px;
  padding-bottom: 24px;
  margin-bottom: -18px;
  position: relative;
  padding-top: 15px;
}

.biz-content-container {
  width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.biz-header {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 16px;
  margin-bottom: 13px;
}

.biz-header-left {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-right: 30px;
}

.biz-header-right {
  display: table;
  position: relative;
}

.write-review {
  color: white;
  background-color: #d90007;
  border-radius: 3px;
  border: 1px solid #8d0005;
  width: 160px;
  height: 36px;
  font-size: 14px;
  font-weight: bolder;
  padding: 8px 19px 9px;
  margin-right: 12px;
}

.write-review:hover {
  text-decoration: none;
  background-color: #ed0008;
}

.biz-show-name {
  /*display: inline;*/
  padding-top: 0;
}

.biz-show-stars-reviews {
  margin: 9px 0;
  float: left;
}

.biz-show-stars {
  float: left;
}

.biz-show-price-category {
  float: left;
  clear: both;
}

.biz-sub-header {
  display: table;
  width: 100%;
}

.map-box-container {
  width: 33.3333%;
  display: table-cell;
  vertical-align: middle;
}

.map-box {
  padding: 5px;
  background: #fff;
  border: 1px solid #ccc;
}

.map {
  overflow: hidden;
  height: 135px;
  border: 1px solid #ccc;
}

.map-text {
  min-height: 105px;
  font-size: 14px;
}

.map-text ul {
  padding-left: 5px;
}

.map-text li {
  margin-bottom: 3px;
}

.map-address-box-li {
  margin-bottom: 3px;
  position: relative;
}

.map-address-box {
  line-height: 18px;
  margin-left: 24px;
}

.icon img {
  width: 18px;
  height: 18px;
}

.map-address-box address {
  font-weight: bold;
  margin-top: -1px;
}

.map-box .phone, .biz-url {
  margin-left: 24px;
}

.cross-streets:empty {
  display:none;
}

.biz-url:empty {
  display: none;
}

.photo-container {
  width: 66.6666%;
  display: table-cell;
  vertical-align: middle;
}

.photo-strip {
  position: relative;
  width: 660px;
  height: 220px;
}

.photo-strip-media {
  pointer-events: none;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.prev .next {
  opacity: 0;

}

.current {
  pointer-events: auto;
  opacity: 1;
}

.photo-strip-media .photo {
  display: block;
  position: absolute;
  margin: -15px;
  width: 250px;
  height: 250px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transition-property: -webkit-transform, box-shadow;
  transition-property: transform, box-shadow;
  -webkit-transform: scale(.88) translateZ(0);
  transform: scale(.88) translateZ(0);
  border: 1px solid #ccc;
}

.photo-1 {
  left: 0;
}
.photo-1 {
  left: 220px;
}
.photo-1 {
  left: 440px;
}
