body {
  font-family: 'Roboto', sans-serif;
  color: #333333;
}

h1 {
  color: #333;
  font-size: 30px;
  font-weight: bold;
  padding-top: 6px;
  word-wrap: break-word;
}

h2 {
  color: #d32323;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 6px;
}

h3 {
  color: #d32323;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 6px;
}

p {
  display: inline;
}

a {
  color: #0073bb;
  text-decoration: none;
}

ul {
  list-style: none;
  display: block;
}

div {
  display: block;
}

a:hover {
  text-decoration: underline;
}

.group:after {
  content: '';
  display: table;
  clear: both;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
}

.icon:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.subheading {
  color: #333;
  font-size: 14px;
  font-weight: bold;
}

.main-header-wrapper, .header-nav-wrapper, .main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header-wrapper {
  background-color: #d32323;
  height: 64px;
}

.header-nav-wrapper {
  background-color: #BD1F1F;
  height: 27px;
}

.main-wrapper {
  flex-direction: column;
  /*min-width: 1020px;*/
}

.content-container {
  width: 966px;
}

/*.top-bar {
  background: #f5f5f5;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
  padding-top: 15px;
  width: 100%;
  height: 171px;
  clear:both;
}*/
