.map-container {
  width: 298px;
  height: 298px;
  border: 1px solid #ccc;
}

.map-container-small {
  width: 286px;
  height: 135px;
}

.map-header-and-map {
  width: 298px;
}

.map-header{
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;

  border: 1px solid #ccc;
  border-bottom: none;
  background-color: #f5f5f5;
  padding: 6px 0;
}

.map-header-text {
  margin-left: 4px;
}
