.review-snippet {
  display: flex;
  margin-top: 12px;
  position: relative;
}

.snippet-avatar {
  display: block;
  border-right: 6px solid transparent;
  margin-top: 1px;
}

.snippet-avatar img {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  object-fit: cover;
  vertical-align: middle;
}

.snippet-body {

}

.reviews-list li {
  margin: 0;
  padding: 18px 0;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 17px;
}
