.review-form-main-container {
  padding-bottom: 36px;
  width: 960px;
  margin: 0 auto;
}

.review-header {
  margin-bottom: 11px;
  border-bottom: 1px solid #e6e6e6;
}

.review-form-biz-summary {
  margin-bottom: 12px;
  display: flex;
}

.biz-photo {
  border-right: 12px solid transparent;
  border-left: none;
}

.biz-photo img {
  border-radius: 4px;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
