.session-form-container {
  display: flex;
  width: 1000px;
  height: 600px;
  justify-content: center;
  align-items: center;
}

.session-form {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
}

.session-form-toggle-link a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bolder;
}

.errors-ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  font-weight: bolder;
}

.login-field {
  width: 300px;
  height: 30px;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 9px;
  margin-bottom: 9px;

}

.session-submit-button {
  display: flex;
  background-color: #d90007;
  border: 1px solid #8d0005;
  border-radius: 3px;
  width: 300px;
  height: 36px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 15px;
  font-weight: bolder;
  padding: 8px 19px;
}

.session-submit-button:hover {
  background-color: #ed0008;
}

.demo-login {
  padding-top: 3px;
  background-color: white;
  color: #0073bb;
  border: none;
  font-weight: bolder;
  font-size: 14px;
  float: right;
}

.demo-login:hover {
  cursor: pointer;
}
